---
layout: main
permalink: '/:cat'
pagination:
  enabled: true
---
{% for post in site.posts %}
{% if post.category == page.category %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
    <div class="post-content">
      <div class="post-category"><a href="{{site.baseurl}}/{{ post.category | downcase }}">{{post.category}}</a></div>
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>    
      <p>{{ post.description | strip_html | truncatewords: 15 }}</p>
      <span class="post-date">{{post.date | date: '%Y, %b'}}</span>
  </div>
</article>
{% endif %}
{% endfor %}

{% include pagination.html %}
